**/.DS_Store
.DS_Store

nextflow/.nextflow/*
.pixi/*

# local inputs
inputs/*
outputs/*

nextflow/.nextflow
nextflow/.nextflow.log*
nextflow/.nextflow.log
nextflow/outputs/*
nextflow/work/*
.vscode/*
tempo/*
