/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA Editing Discovery Base Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    help = false

    // Run options
    numCores = 8
    deleteIntermediateFiles = false

    // Input and output directories and manifest file 
    manifestPath = false
    outputDir = "./outputs"

    // Container for Reditools (local execution)
    container__reditools = "c4nc3rmy/reditools1"
    container__snpeff = "c4nc3rmy/snpeff"

    // Reference genome file for RNA editing
    genomeFa = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/GRCh38.primary_assembly.genome.fa"
    spliceSitesAnnotation = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/gencode.v49.primary_assembly.annotation.splicesites.txt"
    excludedContigs = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/excluded_contigs.txt"
    rmskGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/rmsk.sorted.gtf.gz"
    rmskGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/rmsk.sorted.gtf.gz.tbi"
    snpGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/snp151.sorted.gtf.gz"
    snpGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/snp151.sorted.gtf.gz.tbi"
    rediportalsDbGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/REDIPortal_hg_38_atlas.gtf.gz"
    rediportalsDbGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/REDIPortal_hg_38_atlas.gtf.gz.tbi"

}

// Process resource defaults
process {
    cpus = params.numCores
    
    withLabel: 'callREEvents' {
        cpus = params.numCores
        memory = '15 GB'
    }

    withLabel: 'postprocessReditools' {
        cpus = params.numCores
        memory = '32 GB'
    }

    withLabel: 'finalAnnotateSnpeff' {
        cpus = 1
        memory = '16 GB'
    }
}

// Manifest settings
manifest {
    name = 'RNA-Editing-Discovery-Pipeline'
    author = 'Suffian Azizan'
    description = 'Pipeline for detecting RNA editing events using Reditools'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version = '1.0.0'
}

// Reporting
report {
    enabled = true
    file = "${params.outputDir}/reports/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outputDir}/reports/timeline.html"
}

trace {
    enabled = true
    file = "${params.outputDir}/reports/trace.txt"
}

dag {
    enabled = true
    file = "${params.outputDir}/reports/pipeline_dag.html"
}

