/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA Editing Discovery Base Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    help = false

    // Run options
    numCores = 8
    deleteIntermediateFiles = false

    // Input and output directories and manifest file 
    manifestPath = false
    outputDir = "./outputs"

    // Container for Reditools (local execution)
    container__reditools = "c4nc3rmy/reditools1"
    container__snpeff = "c4nc3rmy/snpeff"
    container__kallisto = "c4nc3rmy/kallisto"
    container__preproc = "c4nc3rmy/preproc"

    // Reference genome file for RNA editing
    genomeFa = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/GRCh38.primary_assembly.genome.fa"
    spliceSitesAnnotation = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/gencode.v49.primary_assembly.annotation.splicesites.txt"
    excludedContigs = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/excluded_contigs.txt"
    rmskGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/rmsk.sorted.gtf.gz"
    rmskGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/rmsk.sorted.gtf.gz.tbi"
    snpGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/snp151.sorted.gtf.gz"
    snpGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/snp151.sorted.gtf.gz.tbi"
    rediportalsDbGtf = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/REDIPortal_hg_38_atlas.gtf.gz"
    rediportalsDbGtfIndex = "s3://crmy-gb-main/reddisco/ref-genome/GRCh38p14_gencode49/REDIPortal_hg_38_atlas.gtf.gz.tbi"
    kallistoIndex = "s3://crmy-gb-main/reddisco/ref-genome/kallisto-transcriptome-hg38/hg38_refseq_Mrna_clean.idx"
    starIndex = "s3://crmy-neondisco-reference-files/star-db/hg38_refseq/star_index_hg38_refseq/"

    // kallisto options
    bootstrapSamples = 0
}

// Process resource defaults
process {
    cpus = params.numCores
    
    withLabel: 'callREEvents' {
        cpus = params.numCores
        memory = '32 GB'
    }

    withLabel: 'postprocessReditools' {
        cpus = params.numCores
        memory = '32 GB'
    }

    withLabel: 'finalAnnotateSnpeff' {
        cpus = 1
        memory = '16 GB'
    }

    withLabel: 'qcReadsFastQC' {
        cpus = 2
        memory = '4 GB'
    }

    withLabel: 'trimReads' {
        cpus = 4
        memory = '8 GB'
    }

    withLabel: 'quantCounts' {
        cpus = 8
        memory = '16 GB'
    }

    withLabel: 'alignReadsStar' {
        cpus = 16
        memory = '48 GB'
    }

}

// Manifest settings
manifest {
    name = 'RNA-Editing-Discovery-Pipeline'
    author = 'Suffian Azizan'
    description = 'Pipeline for detecting RNA editing events using Reditools'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version = '2.0.0'
}

// Reporting
report {
    enabled = true
    file = "${params.outputDir}/reports/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outputDir}/reports/timeline.html"
}

trace {
    enabled = true
    file = "${params.outputDir}/reports/trace.txt"
}

dag {
    enabled = true
    file = "${params.outputDir}/reports/pipeline_dag.html"
}

